{{input autofocus=true
  local-class='input'
  placeholder='Filter canvas...'
  value=filterTerm
  type='text'}}

<button onclick={{action 'close'}} local-class='close'>
  {{svg-jar 'Close' height=24 width=24 local-class='close-icon'}}
</button>
