<div local-class="settings">
  {{#basic-dropdown as |dropdown|}}
    {{#dropdown.trigger}}
      Settings
    {{/dropdown.trigger}}

    {{#dropdown.content}}
      {{pulse-settings
        addToSlack=(component 'add-to-slack' scope=(diff canvas.team.slackScopes slackScopesForPulse))
        closeDropdown=(action dropdown.actions.close)
        slackIsSetUp=canvas.team.hasChannelsHistory}}
    {{/dropdown.content}}
  {{/basic-dropdown}}
</div>

<div local-class="container">
  <div local-class="pulse" data-test-pulse>
    {{canvas-pulse pulseEvents=pulseEvents}}
  </div>
</div>
