@value --gray from 'canvas-colors/styles/colors';

:global {
  .ember-basic-dropdown-trigger {
    outline: none;
  }

  /**
   * Add custom styles to the dropdown content area.
   *
   * 1. Use transform instead of top because ember-basic-dropdown uses JS logic
   *    to set the top property.
   */
  .ember-basic-dropdown-content {
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px --gray;
    padding: 0.25rem;
    transform: translateY(0.5rem); /* 1 */
    width: 12rem;
  }
}
