.button-reset {
  background: none;
  border: none;
  outline: 0;
  padding: 0;
}

.scroll-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
