@value --blue from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

.input-wrapper {
  margin-bottom: 1rem;
  position: relative;
}

.input-wrapper:before {
  color: --gray;
  content: '~';
  font-size: 2rem;
  left: -2rem;
  position: absolute;
  top: 0.5rem;
}

.input {
  border-radius: 4px;
  border: 1px solid --light-gray;
  display: block;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5em;
  width: 100%;
}

.input::placeholder {
  color: --gray;
}

.input:focus {
  border-color: --blue;
  box-shadow: 0 0 0 1px --blue;
  outline: none;
}

.submit {
  background: --blue;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 0.75rem;
}
