# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/docs
/electron-builds
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.env
/.prod.env
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
