<section local-class="section">
  {{link-to 'All Canvases' 'team' (query-params channel=null)
    local-class=(concat 'item item--large ' (unless channel 'item--selected'))}}
</section>

<section local-class="section">
  <h5 local-class="heading">Channels</h5>

  {{#each channels as |channelItem|}}
    {{#link-to 'team' (query-params channel=channelItem.name)
      local-class=(concat 'item ' (if (eq channelItem.name channel) 'item--selected'))}}
      <span local-class="channel-prefix">#</span> {{channelItem.name}}
    {{/link-to}}
  {{/each}}
</section>
