@value --black from 'canvas-colors/styles/colors';
@value --dark-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

.canvas-block-actions {
  background: white;
  border: 1px solid --light-gray;
  border-radius: 4px;
  display: flex;
}

.button {
  composes: button-reset from 'canvas-web/styles/utilities';
  border-right: 1px solid --light-gray;
  display: block;
  padding: 0.1rem 0.25rem;
}

.button:last-child {
  border: none;
}

.button svg {
  display: block;
  fill: --dark-gray;
}

.button:hover svg {
  fill: --black;
}

.button--disabled {
  cursor: not-allowed;
}

.button--disabled svg,
.button--disabled:hover svg {
  fill: --gray;
}
