<div local-class="button button--disabled">
  {{svg-jar 'Emoji' height=24 width=24}}
</div>

<div local-class="button button--disabled">
  {{svg-jar 'Chat' height=24 width=24}}
</div>

<button local-class="button" onclick={{action 'copyWebUrl'}}>
  {{svg-jar 'SendTo' height=24 width=24}}
</button>
