<div local-class="button button--disabled">
  {{svg-jar 'Emoji' height=24 width=24}}
</div>

<div local-class="button button--disabled">
  {{svg-jar 'Chat' height=24 width=24}}
</div>

{{#copy-button clipboardText=clipboardText local-class='button'}}
  {{svg-jar 'SendTo' height=24 width=24}}
{{/copy-button}}
