@value --blue from 'canvas-colors/styles/colors';

.new-canvas-button {
  align-items: center;
  background: --blue;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.icon {
  display: block;
  fill: white;
}
