<div local-class="section section--with-border">
  <div local-class="summary">
    <img local-class="avatar" src="{{user.image72}}">

    <div local-class="summary-text">
      <div local-class="name">{{team.name}}</div>
      <div local-class="username">{{user.name}}</div>
    </div>
  </div>
</div>

<div local-class="section">
  {{new-canvas-button
    channel=channel
    team=team
    didCreateCanvas=didCreateCanvas}}
</div>
