<div local-class="section section--with-border">
  <div local-class="summary">
    <img local-class="avatar" src="#">

    <div>
      <span local-class="name">{{team.name}}</span><br>
      <span local-class="username">@mschoening</span>
    </div>
  </div>
</div>

<div local-class="section">
  {{new-canvas-button team=team}}
</div>
