@value --light-gray from 'canvas-colors/styles/colors';

@value --cell-padding: 1rem;

.teams-show-route {
  display: flex;
  height: 100vh;
}

.aside {
  border-right: 1px solid --light-gray;
  padding: --cell-padding;
}

.main {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.nav {
  border-bottom: 1px solid --light-gray;
  font-size: 0.875rem;
}

.content {
  display: flex;
}

.canvas-list-filter {
  min-width: 14rem;
  padding: --cell-padding;
}

.canvas-list {
  flex: 1;
}
