{{drop-zone
  message="Drop to upload to Canvas!"
  draggingOver=(mut draggingOver)
  showDropzone=showDropzone}}

<div local-class="aside">
  {{team-list teams=teamsList.teams}}
</div>

<div local-class="main">
  <div local-class="nav">
    {{team-nav
      team=team
      user=team.user
      didCreateCanvas=(action 'didCreateCanvas')}}
  </div>

  <div local-class="content">
    {{canvas-list
      team=team
      canvases=team.canvases}}
  </div>
</div>
