<div local-class="aside">
  {{team-list teams=teamsList.teams}}
</div>

<div local-class="main">
  <div local-class="nav">
    {{team-nav team=team}}
  </div>

  <div local-class="content">
    {{canvas-list
      team=team
      canvases=team.canvases}}
  </div>
</div>
