<div local-class="aside">
  {{team-list teams=teamsList.teams}}
</div>

<div local-class="main">
  <div local-class="nav">
    <div>
      My Team Name<br>
      @mschoening
    </div>

    <div>
      {{new-canvas-button team=team}}
    </div>
  </div>

  <div local-class="content">
    {{canvas-list
      team=team
      canvases=team.canvases}}
  </div>
</div>
