{{#if showDropzone}}
  <div local-class="dropzone" ondragleave={{action 'dragLeaveDropzone'}}>
    <h1>Drop to upload to Canvas!</h1>
  </div>
{{/if}}

<div local-class="aside">
  {{team-list teams=teamsList.teams}}
</div>

<div local-class="main">
  <div local-class="nav">
    {{team-nav
      team=team
      user=team.user
      didCreateCanvas=(action 'didCreateCanvas')}}
  </div>

  <div local-class="content">
    {{canvas-list
      team=team
      canvases=team.canvases}}
  </div>
</div>
