@value --blue from 'canvas-colors/styles/colors';
@value --dark-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';
@value --black from 'canvas-colors/styles/colors';

.channel-summary-list,
.edit-button,
.done-button {
  margin-left: 0.5rem;
}

.edit-button,
.done-button {
  composes: button-reset from 'canvas-web/styles/utilities';
  color: --blue;
  cursor: pointer;
}

.edit-button {
  transition: opacity 0.2s ease-in-out;
}

.edit-button--hidden {
  opacity: 0;
}

.channel-editor {
  display: flex;
}

.channel-editor-select {
  flex: 1;
}

.icon {
  fill: --gray;
}

.channel-summary {
  align-items: center;
  display: inline-flex;
}

.channel-summary-list-item:link,
.channel-summary-list-item:visited {
  color: --dark-gray;
  font-weight: 600;
}

.channel-summary-list-item:hover {
  color: --black;
}

.channel-summary-list-item::after {
  color: --gray;
  content: ', ';
  font-weight: normal;
}

.channel-summary-list-item:last-child::after {
  content: '';
}

.channel-summary:hover .edit-button {
  opacity: 1;
}

.button-label--muted {
  color: --gray;
}
