.dropzone {
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  bottom: 0;
  color: white;
  display: none;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.dropzone.show-dropzone {
  display: flex;
}

.dropzone * {
  pointer-events: none;
}
