{{#ui-billboard emoji='👋' title='Welcome to Canvas'}}
  <p>
    Click on the
    {{new-canvas-button
      channel=channel
      inline=true
      team=team
      didCreateCanvas=didCreateCanvas}}
    icon to create your team's first canvas.<br>
    Try typing <strong>Getting Started</strong> in the title...
  </p>
{{/ui-billboard}}
