<div local-class="content">
  <div local-class="emoji">👋</div>

  <h1 local-class="heading">Welcome to Canvas</h1>

  <p local-class="sub-heading">
    Click on the
    {{new-canvas-button
      channel=channel
      inline=true
      team=team
      didCreateCanvas=didCreateCanvas}}
    icon to create your team's first canvas.<br>
    Try typing <strong>Getting Started</strong> in the title...
  </p>
</div>
