{{drop-zone
  message="Drop to fill canvas from template!"
  draggingOver=(mut draggingOver)
  showDropzone=showDropzone}}

{{#if (and canvas.isTemplate (not showFilter))}}
  <div local-class="message">
    You’re editing a template. To create a new canvas click <strong>Use
    Template</strong>.
  </div>
{{/if}}

{{#if showFilter}}
  <div local-class="filter">
    {{canvas-block-filter filterTerm=(mut filterTerm)
                          onCloseFilter=(toggle-action 'showFilter' this)}}
  </div>
{{/if}}

<div local-class="editor">
  {{canvas-editor-next
    subscribeProps=(hash subscriptions=subscriptions defaultSubscribeState=defaultSubscribeState)
    editingEnabled=(unless (or readOnly isFiltered) connected)
    fetchTemplates=(action 'fetchTemplates')
    fetchUploadSignature=(action 'fetchUploadSignature')
    filterTerm=filterTerm
    onBlockContentUpdatedLocally=(action 'blockContentUpdatedLocally')
    onBlockReplacedLocally=(action 'blockReplacedLocally')
    onMetaSelectText=(action 'metaSelectText')
    onNewBlockInsertedLocally=(action 'newBlockInsertedLocally')
    onBlockDeletedLocally=(action 'blockDeletedLocally')
    onBlockMetaReplacedLocally=(action 'blockMetaReplacedLocally')
    onRedo=(action 'redo')
    onTemplateApplied=(action 'templateApplied')
    onUndo=(action 'undo')
    unfurlBlock=(action 'unfurlBlock')
    canvas=canvas
    canvasLinkComponent=(component 'canvas-link')
    commentThreadComponent=(component 'comment-thread' canvas=canvas currentUser=currentAccount.currentUser)
    githubAuthComponent=(component 'github-oauth')
    slackAuthComponent=(component 'slack-oauth' currentScopes=canvas.team.slackScopes extendedScopes=(w 'channels:history'))
    titleActionsComponent=(component 'canvas-title-actions'
                           canvas=canvas
                           showWatchCanvas=canvas.team.isInTeam
                           watchedCanvas=watchedCanvas
                           showDeleteCanvas=canvas.team.isInTeam
                           onUseTemplate=(route-action 'createFromTemplate')
                           onDeleteCanvas=(route-action 'onDeleteCanvas')
                           onNavigateHistory=(route-action 'navigateHistory')
                           toggleShowFilter=(toggle 'showFilter' this)
                           toggleWatchCanvas=(perform toggleWatchCanvas watchedCanvas)
                           isTemplate=canvas.isTemplate)
    titleBylineComponent=(component 'canvas-title-byline'
                          canvas=canvas
                          showChannelSelector=showChannelSelector
                          updateCanvasChannels=(route-action 'updateCanvasChannels'))}}
</div>