@value --gray from 'canvas-colors/styles/colors';

.yield-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 0;
}

.main {
  position: relative;
  z-index: 1;
}

.main-content {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 8px --gray;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 12rem;
}
