@value --dark-gray from 'canvas-colors/styles/colors';

.canvas-show-route {
  position: relative;
}

.message {
  color: --dark-gray;
  font-size: 0.75rem;
  font-style: italic;
  left: 0;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

.filter {
  left: 0;
  position: absolute;
  right: 0;
  top: 1.0625rem;
}

.editor {
  margin: 0 auto;
  max-width: 47rem;
  padding: 4rem 0;
}
