@value --extra-light-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';

@value --cell-padding from 'canvas-web/components/teams-show-route/styles';

.channel-topic-canvas {
  background: --extra-light-gray;
  font-size: 0.875rem;
  padding: --cell-padding;
}

.content {
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 6px --gray;
  padding: 1.5rem;
  position: relative;
}

.canvas {
  max-height: 20rem;
  overflow: hidden;
}

.footer {
  background: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 0;
  left: 0;
  padding: --cell-padding 1.5rem;
  position: absolute;
  right: 0;
}
