<div local-class="content">
  <div local-class="canvas">
    {{canvas-editor-next
      editingEnabled=false
      canvas=canvas
      unfurlBlock=(action 'unfurlBlock')
      githubAuthComponent=(component 'github-oauth')
      titleBylineComponent=(component 'canvas-title-byline'
                            static=true
                            canvas=canvas)}}
  </div>

  <div local-class="footer">
    {{link-to 'Show more' 'team.canvas' canvas}}
  </div>
</div>
