<div local-class="content">
  <div local-class="team-list">
    {{team-list teams=teams}}
  </div>

  <div local-class="canvas-list-filter">
    <div local-class="canvs-list-filter-section">
      {{channel-list}}
    </div>

    <div local-class="canvs-list-filter-section">
      {{canvas-type-list}}
    </div>
  </div>

  <div local-class="canvas-list">
    {{canvas-list canvases=canvases}}
  </div>
</div>
