@value --dark-gray from 'canvas-colors/styles/colors';

.ui-billboard {
  align-items: center;
  background: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.ui-billboard.full-screen {
  min-height: 100vh;
}

.emoji {
  font-size: 3rem;
}

.heading {
  font-weight: 300;
}

.message {
  color: --dark-gray;
  line-height: 1.5;
  max-width: 35rem;
}
