@value --dark-gray from 'canvas-colors/styles/colors';
@value --extra-light-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';

.channel-list-add-to-slack {
  align-items: center;
  color: --dark-gray;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

.faux-data {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.faux-data-item {
  background: --extra-light-gray;
  border-radius: 1000px;
  height: 10px;
  margin-bottom: 10px;
  width: 138px;

  &:nth-child(2n) {
    width: 108px;
  }
}

.reasons {
  list-style: none;
  padding: 0;
}

.reasons-item {
  margin-bottom: 0.125rem;
  position: relative;

  &:before {
    background: --gray;
    border-radius: 50%;
    content: '';
    display: block;
    height: 6px;
    left: -0.625rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
  }
}

.later {
  margin-top: 0.5rem;
}

.later-action {
  color: inherit;
  font-weight: 600;
}
