<div local-class="faux-data">
  <div local-class="faux-data-item"></div>
  <div local-class="faux-data-item"></div>
  <div local-class="faux-data-item"></div>
</div>

<div>
  Set up the Slack integration:
</div>

<ul local-class="reasons">
  <li local-class="reasons-item">Organize with <strong>#channels</strong></li>
  <li local-class="reasons-item"><strong>/canvas new</strong> from Slack</li>
  <li local-class="reasons-item">Work with <strong>@mentions</strong></li>
  <li local-class="reasons-item">Get <strong>notifications</strong> in Slack</li>
</ul>

<div>
  {{add-to-slack currentScopes=currentScopes}}
</div>

<div local-class="later">
  or <a href {{action dismiss}} local-class="later-action">do this later</a>.
</div>