<div local-class="editor">
  {{canvas-editor-next
    editingEnabled=false
    unfurlBlock=(action 'unfurlBlock')
    canvas=canvas
    canvasLinkComponent=(component 'canvas-link')
    githubAuthComponent=(component 'github-oauth')}}
</div>
