@value --comment-thread-item-muted-text-color from 'canvas-web/components/comment-thread/styles';

.root {
  display: flex;
}

.avatar {
  flex: none;
  margin-right: 0.5rem;
}

.main {
  flex: 1;
}

.username {
  font-weight: bold;
}

.timestamp {
  color: --comment-thread-item-muted-text-color;
}
