@value --comment-thread-item-muted-text-color from 'canvas-web/components/comment-thread/styles';
@value --red from 'canvas-colors/styles/colors';

.root {
  display: flex;
}

.avatar {
  border-radius: 50%;
  display: block;
  flex: none;
  margin-right: 0.5rem;
}

.main {
  flex: 1;
}

.meta {
  display: flex;
  justify-content: space-between;
}

.action {
  margin: 0 0.25rem;
}

.username {
  font-weight: bold;
}

.timestamp,
.edit,
.delete {
  color: --comment-thread-item-muted-text-color;
}

.edit,
.delete {
  cursor: pointer;
}

.delete:hover {
   color: --red;
}
