<div local-class="root">
  <div local-class="avatar">
    <img src="{{comment.creator.avatarUrl}}" height=32 width=32>
  </div>

  <div local-class="main">
    <div local-class="meta">
      <span local-class="username">{{commment.creator.name}}</span>
      <span local-class="timestamp">{{moment-from-now comment.updatedAt}}</span>
    </div>

    <div local-class="content">
      {{#each comment.blocks as |block|}}
        <div local-class="block">
          {{block.content}}
        </div>
      {{/each}}
    </div>
  </div>
</div>