<div local-class="root">
  <div local-class="avatar">
    <img src="#" height=32 width=32>
  </div>

  <div local-class="main">
    <div local-class="meta">
      <span local-class="username">@mschoening</span>
      <span local-class="timestamp">3:05PM</span>
    </div>

    <div local-class="content">
      Hello, I am a comment.
    </div>
  </div>
</div>
