<div local-class="root">
  {{#each blockComments as |comment|}}
    <div local-class="item">
      {{comment-thread/item comment=comment removeComment=(perform removeComment comment)}}
    </div>
  {{/each}}
  {{comment-thread/create-item createComment=(perform createComment)}}
</div>