@value --black from 'canvas-colors/styles/colors';
@value --blue from 'canvas-colors/styles/colors';
@value --dark-gray from 'canvas-colors/styles/colors';
@value --extra-light-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

@value --cell-padding from 'canvas-web/components/teams-show-route/styles';

.link {
  display: block;
  padding: 0 --cell-padding;
}

.container {
  border-bottom: 1px solid --light-gray;
  align-items: center;
  display: flex;
  padding: --cell-padding 0;
}

.icon {
  display: block;
  fill: --gray;
  height: 32px;
  margin-right: 0.25em;
  width: 32px;
}

.content {
  flex: 1;
}

.title {
  color: --black;
  font-weight: 600;
}

.title-badge {
  background: --gray;
  border-radius: 3px;
  color: white;
  font-size: 0.75em;
  font-weight: normal;
  margin-left: 0.5em;
  padding: 0.15em 0.25em;
}

.summary {
  color: --dark-gray;
  font-size: 0.875em;
}

.actions {
  box-shadow: 0 1px 1px --extra-light-gray;
  border: 1px solid --light-gray;
  border-radius: 4px;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.actions-button {
  background: transparent;
  border: none;
  display: block;
}

.actions-button svg {
  display: block;
  fill: --dark-gray;
}

.actions-button:hover {
  cursor: pointer;
}

.actions-button:hover svg {
  fill: --blue;
}

.canvas-list-item:hover .actions {
  opacity: 1;
}

.is-template {
  color: --gray;
}

.is-template .icon {
  fill: --light-gray;
}

.is-template .title {
  color: --dark-gray;
}
