{{#link-to 'team.canvases.show' canvas.team canvas.id local-class='link'}}
  {{svg-jar 'Document' local-class='icon'}}

  <div>
    <div local-class="title">{{canvas.title}}</div>
    <div local-class="summary">{{canvas.summary}}</div>
  </div>
{{/link-to}}
