@value --dark-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

.container {
  display: flex;
  height: 100vh;
}

.aside {
  border-right: 1px solid --light-gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.aside-item {
  display: block;
  margin-bottom: 1rem;
}

.aside-item:last-child {
  margin-bottom: 0;
}

.aside-item svg {
  fill: --gray;
}

.aside-item--active svg {
  fill: --dark-gray;
}

.main {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 2rem;
}
