@value --light-gray from 'canvas-colors/styles/colors';

@value --cell-padding: 1rem;

.nav {
  composes: nav from 'canvas-web/components/team-list-wrapper/styles';
}

.content {
  composes: content from 'canvas-web/components/team-list-wrapper/styles';
}

.sidebar {
  border-right: 1px solid --light-gray;
  min-width: 14rem;
  position: relative;
}

.sidebar-scroll {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: --cell-padding;
  position: absolute;
  right: 0;
  top: 0;
}

.canvas-list {
  flex: 1;
  position: relative;
}

.canvas-list-scroll {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 0;
  top: 0;
}
