@value --light-gray from 'canvas-colors/styles/colors';

.item {
  border-bottom: 1px solid --light-gray;
  margin-bottom : 1rem;
  padding-bottom: 1rem;
}

.item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
