{{#each sortedCanvases as |canvas|}}
  <div local-class="item">
    {{canvas-list-item
      canvas=canvas
      onDeleteCanvas=(route-action 'onDeleteCanvas')}}
  </div>
{{else}}
  <div local-class="empty-state">
    {{canvas-list-empty-state
      channel=channel
      team=team
      didCreateCanvas=didCreateCanvas}}
  </div>
{{/each}}
