@value --blue from 'canvas-colors/styles/colors';

.canvas-title-actions {
  align-items: center;
  display: flex;
}

.template-badge {
  background: #E7E8FF;
  border: none;
  border-radius: 3px;
  color: --blue;
  cursor: pointer;
  font-size: 0.875rem;
  margin-right: 1rem;
  outline: 0;
  padding: 0.125rem 0.5rem;
}

.trigger {
  align-items: center;
  background: --blue;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.trigger svg {
  fill: white;
}

.menu {
  font-size: 0.875rem;
}

.menu-item {
  display: block;
  border-radius: 3px;
  line-height: 1.5;
  margin-bottom: 0.125rem;
  padding: 0.125rem 0.5rem;
}

a.menu-item {
  color: inherit;
}

.menu-item:hover,
a.menu-item:hover {
  background: --blue;
  color: white;
  cursor: pointer;
}

.menu-item:last-child {
  margin-bottom: 0;
}
