{{#if canvas.isTemplate}}
  <a href="#" local-class="template-badge">Use Template</a>
{{/if}}

<div local-class="actions">
  {{#ui-dropdown as |isOpen|}}
    <div local-class="menu">
      <div local-class="menu-content">
        <div local-class="menu-item">Download</div>
        <div local-class="menu-item">Delete</div>
      </div>
    </div>
  {{else}}
    <div local-class="trigger">
      {{svg-jar "More" height="24" width="24"}}
    </div>
  {{/ui-dropdown}}
</div>
