{{#if isTemplate}}
  <button {{action "onUseTemplate"}} local-class="template-badge">Use Template</button>
{{/if}}

<div local-class="actions">
  {{#basic-dropdown horizontalPosition='right' as |dropdown|}}
    {{#dropdown.trigger}}
      <div local-class="trigger">
        {{svg-jar "More" height="24" width="24"}}
      </div>
    {{/dropdown.trigger}}

    {{#dropdown.content}}
      {{#ui-menu as |menu|}}
        {{#menu.item action=(queue (action dropdown.actions.close) (action toggleShowFilter))}}
          Filter
        {{/menu.item}}

        {{#menu.item action=(action 'navigateHistory')}}
          Time Machine
        {{/menu.item}}

        {{#menu.item link=(concat canvas.apiURL '.md')}}
          View Markdown
        {{/menu.item}}

        {{#menu.item link=(concat canvas.apiURL '.canvas') download=(concat canvas.title '.canvas')}}
          Download Canvas
        {{/menu.item}}

        {{#menu.item action=(action toggleWatchCanvas)}}
          {{#if watchedCanvas}}
            Unwatch Canvas
          {{else}}
            Watch Canvas
          {{/if}}
        {{/menu.item}}

        {{#if showDeleteCanvas}}
          {{#menu.item action=(action 'deleteCanvas')}}
            Delete
          {{/menu.item}}
        {{/if}}
      {{/ui-menu}}
    {{/dropdown.content}}
  {{/basic-dropdown}}
</div>