<h3>Export</h3>

<p>
  Your team's canvases are available for export in the form of a series of
  Markdown files (one per canvas). The export can take a few minutes so we'll
  email you when your export is ready for download.
</p>

<div>
  <button local-class="export-button">Start Export</button>
</div>

<span local-class="confirmation-flash">
  Success! We have started the export process and will email you a download
  link as soon as it is done.
</span>
