{{#ui-billboard emoji='🙌' fullScreen=true title='Sign in to Canvas'}}
  <p>
    Canvas uses Slack to make logging in a breeze.<br>
    Right now only invited Slack teams have access.
  </p>

  {{sign-in-with-slack}}
{{/ui-billboard}}
