{{#ui-billboard emoji='💣' fullScreen=true title='Whoops, five-oh-something'}}
  <p>
    Things have gone wrong. It's probably Bob's fault.<br>
    We've asked him to fix it. <a href="/">Return to safety?</a>
  </p>
{{/ui-billboard}}
