@value --dark-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

.canvases-show-route {
  display: flex;
  height: 100vh;
}

.aside {
  border-right: 1px solid --light-gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.aside-item {
  margin-bottom: 1rem;
}

.aside-item:last-child {
  margin-bottom: 0;
}

.aside-item svg {
  fill: --gray;
}

.aside-item--active svg {
  fill: --dark-gray;
}

.aside-item--disabled {
  cursor: not-allowed;
}

.aside-item--disabled svg {
  fill: --light-gray;
}

.main {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 2rem;
}

.message {
  position: relative;
}

.message-content {
  color: --dark-gray;
  font-size: 0.75rem;
  font-style: italic;
  left: 0;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.filter {
  position: relative;
}

.filter-content {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: white;
  display: flex;
  left: 0;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  top: 1.5rem;
  width: 100%;
}

.filter-content input {
  background: transparent;
  border: none;
  color: inherit;
  flex: 1;
  font-size: 1.125rem;
  outline: none;
  padding: 0;
}

.filter-close {
  composes: button-reset from 'canvas-web/styles/utilities';
  height: 1.5rem;
  width: 1.5rem;
}

.filter-close svg {
  fill: white;
}

.editor {
  margin: 4rem auto;
  max-width: 47rem;
}
