@value --dark-gray from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';
@value --light-gray from 'canvas-colors/styles/colors';

.canvases-show-route {
  display: flex;
  height: 100vh;
}

.aside {
  border-right: 1px solid --light-gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.aside-item {
  margin-bottom: 1rem;
}

.aside-item:last-child {
  margin-bottom: 0;
}

.aside-item svg {
  fill: --gray;
}

.aside-item--active svg {
  fill: --dark-gray;
}

.aside-item--disabled {
  cursor: not-allowed;
}

.aside-item--disabled svg {
  fill: --light-gray;
}

.main {
  flex: 1;
  overflow: scroll;
  padding: 0 2rem;
}

.message {
  position: relative;
}

.message-content {
  color: --dark-gray;
  font-size: 0.75rem;
  font-style: italic;
  left: 0;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.editor {
  margin: 4rem auto;
  max-width: 47rem;
}
