@value --blue from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';

.item {
  display: block;
  margin-bottom: 1rem;
}

.item:last-child {
  margin-bottom: 0;
}

.item--active {
  position: relative;
}

.item--active::before {
  background: --blue;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  bottom: 0.125rem;
  content: '';
  left: -1rem;
  position: absolute;
  top: 0.125rem;
  width: 3px;
}

.item--new {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.new-icon {
  display: block;
  fill: --gray;
}

.item--new:hover .new-icon {
  fill: --blue;
}
