@value --blue from 'canvas-colors/styles/colors';
@value --gray from 'canvas-colors/styles/colors';

.item {
  display: block;
  margin-bottom: 1rem;
}

.item:last-child {
  margin-bottom: 0;
}

.item--new {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.new-icon {
  display: block;
  fill: --gray;
}

.item--new:hover .new-icon {
  fill: --blue;
}
